@font-face {
	font-family: myfont;
	src: url(font.woff);
}

@font-face {
	font-family: "Computer Modern";
	src: url(cmr10.woff);
}

@font-face {
	font-family: "Computer Modern";
	src: url(cmbx10.woff);
	font-weight: bold;
}

body {
	background: black;
	color: whitesmoke;
	font: xx-large "Computer Modern";
	text-align: center;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

div {
	width: 100%;
	position: absolute;
	bottom: 100%;
}

#banner {
	visibility: hidden;
}

#banner+p {
	margin-bottom: 0;
}

div+p {
	margin-top: 0;
}

button {
	width: 1.5em;
	height: 1.5em;
	border: 0;
	padding: 0;
	background: inherit;
	color: inherit;
	font-size: inherit;
	font-family: myfont;
	cursor: pointer;
}

button:disabled {
	color: gray;
	cursor: default;
}

input[type="checkbox"] {
	display: none;
}

label {
	display: inline-block;
	min-width: 1.5em;
	cursor: pointer;
	position: relative;
}

label:after {
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0.0625em;
	background: #E44D2E;
	content: "";
}

input[type="checkbox"]:checked+label:after {
	width: 100%;
}

input[type="checkbox"]:disabled+label {
	color: gray;
	cursor: default;
}

input[type="checkbox"]:disabled+label:after {
	background: #3C3C3C;
}

#target {
	margin-bottom: 0;
}
